@font-face {
  font-family: 'Calibre-Regular';
  src: url('./fonts/Calibre-Regular.eot');
  src: url('./fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibre-Regular.woff') format('woff'),
        url('./fonts/Calibre-Regular.ttf') format('truetype'),
        url('./fonts/Calibre-Regular.svg#providence-bold') format('svg');
        font-weight: normal;
        font-style: normal;
      }

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* rgba(128, 128, 128) */

:root {
  --bodyBackground : rgba(63, 60, 60) ;
  --navColor1: rgba(63, 60, 60) ;
  --navColor2: rgba(63, 60, 60) ;
  --navColor3: rgba(63, 60, 60) ;
  --navColor4: rgba(63, 60, 60);
  --navColor5 : rgba(63, 60, 60);
  --navColor :  #f1c40f;
  --navOverlay :  #f1c40f;
  --introduction : #10101a; 
  --navAnchor : #10101a;
  --onHeaderParagraph : #f1c40f;
  --onHeaderClipUrl : url(bon-fire.png);
  --onHeaderAnimation : 17s;
  --onSliderColorChange : rgba(245, 245, 245, 0.555);
  --paragraphColor : #10101a;
  --fileIcon : rgb(156, 49, 49);
  --scrollbarColor : #10101a;
  }

  [data-theme="dark"] {
    --bodyBackground : #10101a;
    --navColor1: #10101a;
    --navColor2: #10101a;
    --navColor3: #10101a;
    --navColor4: #10101a;
    --navColor5: #10101a;
    --navColor : #fff;
    --navOverlay : #fff;
    --introduction : #fff;
    --navAnchor :  rgba(218, 198, 24, 0.534);
    --onHeaderParagraph : rgba(218, 198, 24, 0.534);
    --onHeaderClipUrl : url(header.png);
    --onHeaderAnimation : 20s;
    --onSliderColorChange : grey;
    --paragraphColor : grey;
    --fileIcon : grey;
    --scrollbarColor : rgba(218, 198, 24, 0.534)
  }

  ::-webkit-scrollbar {
       width: 10px;
       height : 10px;
      transform-origin: center right;
      transition: transform 0.3s, opacity 0.3s;
      opacity: 0; 
    }
  ::-webkit-scrollbar:hover {
        transform: scaleX(1.45); 
      }
      ::-webkit-scrollbar:hover, .has-scroll-scrolling .-scrollbar, .has-scroll-dragging .c-scrollbar {
        opacity: 1; }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
      cursor: -webkit-pointer
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbarColor); 
    border-radius: 10px;
      cursor: -webkit-pointer;
      cursor: pointer;
    }
      ::webkit-scroll-dragging ::webkit-scrollbar-thumb {
        cursor: -webkit-pointer;
        cursor: pointer;
       }
  
  

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background: var(--bodyBackground);
    background-size: 400% 400%;
    /* overflow-y: auto; */
  }
  .main-content {
      overflow-x : hidden;
      width: 100vw;
  }

  .nav-overlay {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7) ;
    transform: translateX(-100vw);
  }

  /*overlay slide in right*/
  .overlay-slide-right {
    transition: all 0.7s ease-in-out;
    transform: translateX(0);
   }
   /*overlay slide in left*/
   .overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw);
   }

  nav, nav ul {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
  }
  nav ul li {
    height: 20%;
    overflow: hidden;
  }
  nav li a {
    position: relative;
    top: 45%;
    color: var(--navColor);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  nav li a:hover {
    transform: scale(1.2);
  }
  nav li a::before {
    content: "";
    width: 25vw;
    height: 3px;
    position: absolute;
    background-color: var(--navColor);
    top: 47.5%;
    left: 0;
    opacity: 0;
  }
  nav li a:hover::before {
    opacity: 1;
  }

  /*Selecting each nav element(li)*/
nav li:nth-of-type(1) {
    background-color: var(--navColor1);
  }
  nav li:nth-of-type(2) {
    background-color: var(--navColor2);
  }
  nav li:nth-of-type(3) {
    background-color: var(--navColor3);
  }
  nav li:nth-of-type(4) {
    background-color: var(--navColor4);
  }
  nav li:nth-of-type(5) {
    background-color: var(--navColor5);
  }
  /*slide in animation with class for each nav item*/
  .slide-in-1 {
    animation: slide-in 0.7s linear 0.2s both;
  }
  .slide-in-2 {
    animation: slide-in 0.7s linear 0.4s both;
  }
  .slide-in-3 {
    animation: slide-in 0.7s linear 0.6s both;
  }
  .slide-in-4 {
    animation: slide-in 0.7s linear 0.8s both;
  }
  .slide-in-5 {
    animation: slide-in 0.7s linear 1.0s both;
  }
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  /*slide out animation with class for each nav item*/
  .slide-out-1 {
    animation: slide-out 0.5s linear 1.0s both;
  }
  .slide-out-2 {
    animation: slide-out 0.5s linear 0.8s both;
  }
  .slide-out-3 {
    animation: slide-out 0.5s linear 0.6s both;
  }
  .slide-out-4 {
    animation: slide-out 0.5s linear 0.4s both;
  }
  .slide-out-5 {
    animation: slide-out 0.5s linear 0.2s both;
  }
  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* --- Menu Bars ------------------------------------ */

.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: var(--navOverlay);
    margin: 8px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }

  section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
  }


  section#home { 
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* color: #10101a; */
  }
  
  
  section#home .navbar a {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 1.5rem;
    text-decoration: none;
    font-size: 1.0rem;
    padding-bottom: 5px;
    color: var(--navAnchor);
    border-bottom: 1px solid var(--navAnchor);
    font-family: Calibre-Regular, sans-serif;
  }

  .introduction {
      /* justify-content: center;
      align-content: center; */
      color: var(--introduction);
      font-family: 'Calibre-Regular', sans-serif;
  }

  .introduction .welcome{
      margin-top: 9.5em;
      margin-left: 2em;
      font-size: 20px;
      /* position: absolute; */
      /* top: 11.5rem;
      left: 6.5rem; */
      /* text-align: left; */
      justify-content: left;
      align-content: left;
      /* margin-left: -19em;
      margin-top: -5em; */ 

  }

.introduction .welcome .wave {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
      }
      
      @keyframes wave-animation {
          0% { transform: rotate( 0.0deg) }
         10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
         20% { transform: rotate(-8.0deg) }
         30% { transform: rotate(14.0deg) }
         40% { transform: rotate(-4.0deg) }
         50% { transform: rotate(10.0deg) }
         60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
      }

.header h1 {
      font-family: "Oswald", sans-serif;
      letter-spacing: 0;
       font-size: 49px;
      display: block;
      margin-left: 1.2em;
      margin-top: 0em;
     position: absolute;
     /* top: 5em;
     left : 2.5em; */
  
  /* Clip Background Image */
  
      background: var(--onHeaderClipUrl) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;
  
  /* Animate Background Image */
  
      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf var(--onHeaderAnimation) linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  
    }
  
  
  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  } 

  .header p {
    color: var(--onHeaderParagraph);
    margin-left: 2em;
    padding-top: 5em;
    margin-bottom: 4em;
  }

  
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

  .fourth {
    margin: auto;
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
    color: #10101a
  }

  
  
.big-sam img {
 position: absolute;
 right: 23em ;
 top: 14em;
  width: 100px;
  height: 100px;
 
}

section#about {
  height: 100vh;
  display: block;
  width: 100%;
  position: absolute;
  top: 48.3em;
  text-align: center;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
}

section#about p {
  font-size: 18px;
  color: var(--paragraphColor);
  font-family: Calibre-Regular, sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 7em;
}


.button {
  --offset: 10px;
  --border-size: 2px;
  margin-left: 67em;
  margin-top: -4em;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) #e55743;
  transition: background 0.8s ease;
}
.button .fas {
  color: var(--fileIcon);
}
.button:hover {
  background: rgba(100, 0, 0, .03);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid #f1c40f;
  border-bottom: var(--border-size) solid #f1c40f;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid #f1c40f;
  border-right: var(--border-size) solid #f1c40f;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}
 /* svg {
        display: block;
        font: 7.5em 'Montserrat';
        width: 500px;
        height: 200px;
        
    }
    
    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }
    
    .text-copy:nth-child(1){
      stroke: #4D163D;
      animation-delay: -1;
    }
    
    .text-copy:nth-child(2){
      stroke: #840037;
      animation-delay: -2s;
    }
    
    .text-copy:nth-child(3){
      stroke: #BD0034;
      animation-delay: -3s;
    }
    
    .text-copy:nth-child(4){
      stroke: #BD0034;
      animation-delay: -4s;
    }
    
    .text-copy:nth-child(5){
      stroke: #FDB731;
      animation-delay: -5s;
    }
    
    @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
    } */


 