@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 
 
 .preloader {
   z-index: 1000;
   text-align: center;
   justify-content: center;
   margin: auto;
   overflow: hidden;
   overflow-y: hidden;
 }
.spinner-overlay {
    z-index: 3;
    margin-top: 150px;
    /* height: 60vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

.spinner-overlay
.spinner-container {
    display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

/* .text-content {
    font-size: 28px;
    text-align: center;
    padding: 140px 0;
   color:gray;
   overflow: hidden;
    position: relative;
} */

/* preloader text animation */
.container{
    overflow: hidden;
    text-align: center;
    padding: 140px 0;
    position: relative;

  }
  
  h1, h2 , h3{
    font-size: 20px;
    text-transform: uppercase;
  }
    
.title{
      font-family: 'Open Sans', sans-serif;;
      width: 100%;
      float: left;
      color: whitesmoke;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      transform: translateY(-50px);
      opacity: 0;
      animation-name: titleAnimation;
      animation-timing-function:ease;
      animation-duration: 3s;
    }

h1 div{
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }


  
h2 div{
      animation-delay: 3.8s;
      animation-fill-mode: forwards;
   }
 

h3 div{
        animation-delay: 6.9s;
        animation-fill-mode: forwards;
    }

  .title span {
    color : #f1c40f;
  }

  
 @keyframes titleAnimation {
        0% {
          transform: translateY(-50px);
          opacity: 0;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      }
      20% {
          transform: translateY(0);
          opacity: 1;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      }
      80% {
           transform: translateY(0);
           opacity: 1;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      }
      100% {
           transform: translateY(50px);
           opacity: 0;
          -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
          clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
        
      }
      
    }

